<div class="container">
	<div class="row">
		<div class="col-md-12">
			
		</div>
		<div class="col-md-12">
			<table class="table" border="0" cellspacing="" cellpadding="" style="border-radius: 5px; background: #FA7A20;color: #FFFFFF;text-align: center;font-size: 16px;">
				<tr>
					<td><a style="color: #000000;font-family: '黑体';">书店管理进销存demo</a></td>
					<td <?php if(v('a')=="books"):?>class='bar-active'<?php endif;?> ><a href="index.php?c=guest&a=books" style="color: #FFFFFF;">首页</a></td>
					<td <?php if(v('a')=="shopping_car"):?>class='bar-active'<?php endif;?> ><a href="index.php?c=guest&a=shopping_car" style="color: #FFFFFF;">购物车</a></td>
					<td <?php if(v('c')=="admin"&&v('a')=="login"):?>class='bar-active'<?php endif;?> ><a href="index.php?c=admin&a=login" style="color: #FFFFFF;">登陆</a></td>
					
					
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				    <td></td>
					<td></td>
					<td></td>
					<td></td>
				    <td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				    <td></td>
					<td></td>
					<td></td>
					<td></td>
				    <td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				    <td></td>
					<td></td>
					<td></td>
					<td></td>
				    <td></td>
					<td></td>
					<td></td>
					
				</tr>
			</table>
		</div>
	</div>
</div>